---
layout: default
---

<div class="home">

  {{ content }}

  <div class="footer-col-wrapper">
    <div class="footer-col footer-col-1">
      {% for file in site.static_files %}
        {% if file.path == site.headshot %}
          {% include headshot.html image=file.path %}
        {% endif %}
      {% endfor %}
    </div>

    <div class="footer-col footer-col-2">
      <p>{{ site.description | escape }}</p>
      <p>Weekdays, I am</p>
      <ul>
      <li>writing <a href="https://www.python.org/">Python</a> (and some <a
        href="https://en.wikipedia.org/wiki/JavaScript">JavaScript)</a></li>
      <li>keeping calm with <a href="https://git-scm.com/">Git</a></li>
      <li>using <a href="https://www.ubuntu.com/">Ubuntu</a></li>
      </ul>
      <p>in an <a href="https://en.wikipedia.org/wiki/Agile_software_development#Agile_software_development_practices">agile</a> environment.</p>
      <p>Weekends, I sometimes work on other <a href="/projects/">projects.</a></p>
    </div>
  </div>
</div>
