---
layout: default
---

<div class="home">

  {{ content }}

  <div class="footer-col-wrapper">
    <div class="footer-col footer-col-1">
      {% for file in site.static_files %}
        {% if file.path == site.headshot %}
          {% include headshot.html image=file.path %}
        {% endif %}
      {% endfor %}
    </div>

    <div class="footer-col footer-col-2">
      <p>{{ site.description | escape }}</p>

    <ul>
      <li><a href="https://www.python.org/">Python, </a>
      <a href="https://en.wikipedia.org/wiki/JavaScript">JavaScript</a></li>
      <li><a href="https://git-scm.com/">Git, </a>
      <a href="https://en.wikipedia.org/wiki/Linux">Linux, </a><a href="https://en.wikipedia.org/wiki/Agile_software_development#Agile_software_development_practices">Agile</a></li>
  </ul>

    </div>
  </div>
</div>
